<div class="container-fluid">
    <div class="row row1">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col hai">
                <strong>Electronics</strong>
        </div>
        <div class="col hai">
            <strong>TVs&Appliance</strong>
        </div>
        <div class="col hai">
            <strong>Men</strong>
        </div>
        <div class="col hai">
            <strong>Women</strong>
        </div>
        <div class="col hai">
            <strong>Baby&Kids</strong>
        </div>
        <div class="col hai">
            <strong>Home&Furniture</strong>
        </div>
        <div class="col hai">
            <strong>Sports&Books&More</strong>
        </div>
        <div class="col hai">
           <strong>OfferZone</strong> 
        </div>
        <div class="col"></div>
        <div class="col"></div>


    </div>

</div>
