table{
    border:2px solid black;
    }
    tr{
    border:2px solid black;
    }
    td{
    border:2px solid black;
    }
    th{
    border:2px solid red;
    }
    .name{
    color:green;
    }
    .name:hover{
    color:red;
    }
    #name1{
    color:blue;
    }
    sample-dev:hover{
    width:500;
    height:400;
    background-color:green;
    }
    .sample-dev{
    width:200;
    height:200;
    background-color:red;
    }
    
    .sample-dev:hover{
    width:500;
    height:600;
    background-color:green;
    
    }