// .hai{
    
//     background-color: aquamarine;
// }
.row1{
max-height: 25px;
border:1px solid rgb(177, 182, 187);
background-color: rgb(237, 247, 243);
color:rgb(39, 5, 5);

}


.hai:hover{
    color: rgb(238, 11, 11);
}