<!-- <app-room2></app-room2> -->
<div class="container-flued">
        <div class="row my-row">
                <div class="col-4">
                        <img src="assets/logo.png">


                </div>
                <div class="col-4"></div>
                <div class="col-4 my-col3">
                        <input type="text" placeholder="Search..">
                        <i class="name" class="fa fa-shopping-cart" style="font-size:20px">cart</i>
                </div>

        </div>

        <div class="row">

                <div class="col-3 my-col">


                        <table align="center">
                                <tr>
                                        <img class="mb" src="assets/mb3.jpeg">
                                </tr>
                                <hr>
                                <tr class="price">price: &#8377;9,999
                                        <th onclick="alert('successfully added in cart')" class="add">+</th>
                                </tr>

                        </table>

                </div>
                <div class="col-3 my-col">


                        <table align="center">
                                <tr>
                                        <img class="mb" src="assets/mb6.jpeg">
                                </tr>
                                <hr>
                                <tr class="price">price: &#8377;9,999
                                        <th onclick="alert('successfully added in cart')" class="add">+</th>
                                </tr>

                        </table>

                </div>
                <div class="col-3 my-col">


                        <table align="center">
                                <tr>
                                        <img class="mb" src="assets/mb1.jpeg">

                                </tr>
                                <hr>
                                <tr class="price">price: &#8377;7,999
                                        <th onclick="alert('successfully added in cart')" class="add">+</th>
                                </tr>

                        </table>

                </div>

                <div class="col-3 my-col">


                        <table align="center">
                                <tr>
                                        <img class="mb" src="assets/mb3.jpeg">

                                </tr>
                                <hr>
                                <tr class="price">price: &#8377;12,999
                                        <th onclick="alert('successfully added in cart')" class="add">+</th>
                                </tr>

                        </table>

                </div>
        </div>

        <div class="row">
                <div class="col-3 my-col">


                        <table align="center">
                                <tr>
                                        <img class="mb" src="assets/mb7.jpeg">

                                </tr>
                                <hr>
                                <tr class="price">price: &#8377;4,999
                                        <th onclick="alert('successfully added in cart')" class="add">+</th>
                                </tr>

                        </table>

                </div>
                <div class="col-3 my-col">


                        <table align="center">
                                <tr>
                                        <img class="mb" src="assets/i1.jpg">

                                </tr>
                                <hr>
                                <tr class="price">price: &#8377;5,600
                                        <th onclick="alert('successfully added in cart')" class="add">+</th>
                                </tr>

                        </table>

                </div>
                <div class="col-3 my-col">


                        <table align="center">
                                <tr>
                                        <img class="mb" src="assets/lap.jpeg" style='width:75%;height:65%;'>

                                </tr>
                                <hr>
                                <tr class="price">price: &#8377;9,500
                                        <th onclick="alert('successfully added in cart')" class="add">+</th>
                                </tr>

                        </table>

                </div>
                <div class="col-3 my-col">


                        <table align="center">
                                <tr>
                                        <img class="mb" src="assets/pc.jpeg"
                                                style='width:150px;height: 100px;margin-left: auto;'>

                                </tr>
                                <hr>
                                <tr class="price">price: &#8377;6,999
                                        <th onclick="alert('successfully added in cart')" class="add">+</th>
                                </tr>

                        </table>

                </div>

        </div>

        <div class="row">

                <div class="col-3 my-col">


                        <table align="center">
                                <tr>
                                        <img class="mb" src="assets/mb6.jpeg">
                                </tr>
                                <hr>
                                <tr class="price">price: &#8377;9,999
                                        <th onclick="alert('successfully added in cart')" class="add">+</th>
                                </tr>

                        </table>

                </div>
                <div class="col-3 my-col">


                        <table align="center">
                                <tr>
                                        <img class="mb" src="assets/mb1.jpeg">

                                </tr>
                                <hr>
                                <tr class="price">price: &#8377;7,999
                                        <th onclick="alert('successfully added in cart')" class="add">+</th>
                                </tr>

                        </table>

                </div>
                <div class="col-3 my-col">


                        <table align="center">
                                <tr>
                                        <img class="mb" src="assets/freez.jpeg">

                                </tr>
                                <hr>
                                <tr class="price">price: &#8377;8,999
                                        <th onclick="alert('successfully added in cart')" class="add">+</th>
                                </tr>

                        </table>

                </div>
                <div class="col-3 my-col">


                        <table align="center">
                                <tr>
                                        <img class="mb" src="assets/mb3.jpeg">

                                </tr>
                                <hr>
                                <tr class="price">price: &#8377;12,999
                                        <th onclick="alert('successfully added in cart')" class="add">+</th>
                                </tr>

                        </table>

                </div>
        </div>


        <div class="row">
                <div class="col-2 my-col">


                        <table align="center">
                                <tr>
                                        <img class="mb" src="assets/mb7.jpeg">

                                </tr>
                                <hr>
                                <tr class="price">price: &#8377;4,999
                                        <th onclick="alert('successfully added in cart')" class="add">+</th>
                                </tr>

                        </table>

                </div>
                <div class="col-2 my-col">


                        <table align="center">
                                <tr>
                                        <img class="mb" src="assets/i1.jpg">

                                </tr>
                                <hr>
                                <tr class="price">price: &#8377;5,600
                                        <th onclick="alert('successfully added in cart')" class="add">+</th>
                                </tr>

                        </table>

                </div>
                <div class="col-2 my-col">


                        <table align="center">
                                <tr>
                                        <img class="mb" src="assets/lap.jpeg" style='width:75%;height:65%;'>

                                </tr>
                                <hr>
                                <tr class="price">price: &#8377;9,500
                                        <th onclick="alert('successfully added in cart')" class="add">+</th>
                                </tr>

                        </table>

                </div>
                <div class="col-2 my-col">


                        <table align="center">
                                <tr>
                                        <img class="mb" src="assets/mb3.jpeg">

                                </tr>
                                <hr>
                                <tr class="price">price: &#8377;6,999
                                        <th onclick="alert('successfully added in cart')" class="add">+</th>
                                </tr>

                        </table>

                </div>
                <div class="col-2 my-col">


                        <table align="center">
                                <tr>
                                        <img class="mb" src="assets/mb2.jpeg">

                                </tr>
                                <hr>
                                <tr class="price">price: &#8377;6,999
                                        <th onclick="alert('successfully added in cart')" class="add">+</th>
                                </tr>

                        </table>

                </div>
                <div class="col-2 my-col">


                        <table align="center">
                                <tr>
                                        <img class="mb" src="assets/mb1.jpeg">

                                </tr>
                                <hr>
                                <tr class="price">price: &#8377;6,999
                                        <th onclick="alert('successfully added in cart')" class="add">+</th>
                                </tr>

                        </table>

                </div>

        </div>
        <div class="row my-row3">


                <div class="col" style="text-align:center;">Copyright&#169;loveats.com</div><br>
        </div>
</div>