.my-row{
    height: 9%;
    margin-top: 0.2%;
    background-color:rgb(216, 230, 216);
    
}
.my-row1{
height: 40%;
}
.my-col{
    width:40px;
    height: 250px;
    margin-top: 1%;
}
.my-row3{
    height: 7%;
    color:black;
    background-color: rgb(196, 189, 189);
}
img{
    width:150px;
    height: 58px;
    margin-left: -4.25%;
}

table{
    // border: 1px solid black;

   
    height: 80%;
    width:60%;

}
table:hover{

    background-color:rgb(239, 243, 241);



}

.mb{
  width:5pc;
  height: 6pc;
  margin-left:30%;
  margin-top:5%;

}
.add:hover{
    color: red;

}
.price:hover{
    color:rgb(20, 5, 34);
}
// hr{
//     border: 1px solid black;
// }