<body>
    <h1 class="text-center"></h1>

	
	<div class="container">
	<div class="row">
	
	<!--team-1-->
	<div class="col-lg-3">
	<div class="our-team-main">
	
	<div class="team-front">
	<img src="http://placehold.it/110x110/336699/fff?text=venkat" class="img-fluid" />
	<h3>venkat</h3>
	<p>UI developer</p>
	</div>
	
	<div class="team-back">

    <p>mobno:8464017141</p><br>
    <p>mail:padamvenkat5@gmail.com</p><br>
    <p>address:kothappli(V),macherla(md)</p><br>
    <p>doj:10/07/2019</p>

    

	</div>
	
	</div>
	</div>
	<!--team-1-->
	
	<!--team-2-->
	<div class="col-lg-3">
	<div class="our-team-main">
	
	<div class="team-front">
	<img src="http://placehold.it/110x110/336699/fff?text=prakash" class="img-fluid" />
	<h3>prakash</h3>
	<p>backend developer</p>
	</div>
	
	<div class="team-back">

	</div>
	
	</div>
	</div>
	<!--team-2-->
	
	<!--team-3-->
	<div class="col-lg-3">
	<div class="our-team-main">
	
	<div class="team-front">
	<img src="http://placehold.it/110x110/336699/fff?text=Deva teja" class="img-fluid" />
	<h3>deva teja</h3>
	<p>UI developer</p>
	</div>
	
	<div class="team-back">

	</div>
	
	</div>
	</div>
	<!--team-3-->
	
	<!--team-4-->
	<div class="col-lg-3">
	<div class="our-team-main">
	
	<div class="team-front">
	<img src="http://placehold.it/110x110/4caf50/fff?text=Anusha" class="img-fluid" />
	<h3>Anusha</h3>
	<p>database manager</p>
	</div>
	
	<div class="team-back">

	</div>
	
	</div>
	</div>
	<!--team-4-->
	
	<!--team-5-->
	<div class="col-lg-3">
	<div class="our-team-main">
	
	<div class="team-front">
	<img src="http://placehold.it/110x110/e91e63/fff?text=Venkaiah" class="img-fluid" />
	<h3>Venkaiah</h3>
	<p>UX Designer</p>
	</div>
	
	<div class="team-back">

	</div>
	
	</div>
	</div>
	<!--team-5-->
	
	<!--team-6-->
	<div class="col-lg-3">
	<div class="our-team-main">
	
	<div class="team-front">
	<img src="http://placehold.it/110x110/2196f3/fff?text=Raghavalli" class="img-fluid" />
	<h3>Raghavalli</h3>
	<p>python developer</p>
	</div>
	
	<div class="team-back">

	</div>
	
	</div>
	</div>
	<!--team-6-->
	<div class="col-lg-3">
		<div class="our-team-main">
		
		<div class="team-front">
		<img src="http://placehold.it/110x110/2196f3/fff?text=Raghavalli" class="img-fluid" />
		<h3>Raghavalli</h3>
		<p>python developer</p>
		</div>
		
		<div class="team-back">
	
		</div>
		
		</div>
		</div>
		<div class="col-lg-3">
			<div class="our-team-main">
			
			<div class="team-front">
			<img src="http://placehold.it/110x110/2196f3/fff?text=Raghavalli" class="img-fluid" />
			<h3>Raghavalli</h3>
			<p>python developer</p>
			</div>
			
			<div class="team-back">
		
			</div>
			
			</div>
			</div>
			
	
	</div>
	</div>
</body>